<div class="general">
  <div class="container">
    <div class="container__formu">
      <form [formGroup]="formulario" (ngSubmit)="guardarDatos()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" />

        <label for="correo">Correo:</label>
        <input type="email" id="correo" formControlName="correo" />

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" formControlName="contrasena" />

        <button type="submit">Enviar</button>
      </form>
    </div>

    <div class="visu__hijo">
      <app-component-hijo
        [datosPadre]="datosIngresados"
        (D_padre)="DatosHijo($event)"
      ></app-component-hijo>
    </div>
  </div>
</div>
